* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	background-color: white;
	width: 100%;
	height: 70px;
	padding: 10px;
	justify-content: center;
	top: 0;
	position: sticky;
	z-index: 2;
	box-shadow: 2px 2px 2px lightgray;
}

nav li {
	margin-top: 5px;
}

nav ul {
	margin: 0 110px;
	display: flex;
	justify-content: space-between;
}

nav ul li {
	list-style-type: none;
}

nav ul div li {
	list-style-type: none;
	display: inline-block;
	font-weight: 400;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

nav ul div li button {
	background-color: #c2195b;
	color: white;
	padding: 15px 20px;
	border: none;
	border-radius: 25px;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	height: 50vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	height: 50vh;
}

.front-bg .container {
	color: white;
	text-align: right;
	margin-right: 100px;
	position: relative;
}

.front-bg .container .title {
	font-family: 'Zilla Slab', serif;
	font-size: 2.5rem;
	margin-left: 750px;
}

.front-bg .container .subtitle {
	font-size: 20px;
	font-weight: 100;
	margin-top: 20px;
	line-height: 30px;
	margin-left: 870px;
}

.front-bg .container .apply-button {
	background-color: #c2195b;
	color: white;
	padding: 15px 45px;
	border: none;
	border-radius: 25px;
	margin-top: 20px;
	font-size: 1rem;	
}

.intro {
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 80px;
}

.intro .title-2 {
	font-family: 'Zilla Slab', serif;
	font-size: 2rem;	
	text-align: center;
	margin: 80px 0;
}

.intro .intro-description {
	font-size: 1rem;	
}

.pre-footer {
	background-color: #f7fbfb;
	padding-left: 200px;
	padding-right: 200px;
	text-align: center;
}

.pre-footer .title-2 {
	font-family: 'Zilla Slab', serif;
	font-size: 2rem;	
	padding: 70px 0;	
}

.pre-footer .prefooter-description {
	text-align: center;
	margin-bottom: 15px;
}

.pre-footer .book-button {
	background-color: #336589;
	color: white;
	border: none;
	font-size: 1rem;
	padding: 13px 50px;
	border-radius: 25px;
	margin-bottom: 50px;
}

footer {
	text-align: center;
	margin-bottom: 20px;
}